<div class="blue">
  <div class="header">
    <ul class="list-inline tabs-underlined">
      <li>
        <a href="#" class="tab-underlined active">All</a>
      </li>
      <li>
        <a href="#" class="tab-underlined"><%= image_tag 'love_email.png', class: "inbox-icon" %> (<%= @positive_messages.count %>)</a>
      </li>
      <li>
        <a href="#" class="tab-underlined"><%= image_tag 'alert_email.svg', class: "inbox-icon" %> (<%= @negative_messages.count %>)</a>
      </li>
    </ul>
  </div>
  <div class="inbox">
    <% @messages.sample(10).each do |message| %>
      <%= render 'shared/message_card', message: message %>
    <% end %>
  </div>

</div>
