<div class="blue">
  <div class="header">
    <ul class="list-inline tabs-underlined">
      <li>
        <%= link_to "All", root_path, class: "tab-underlined" %>
      </li>
      <li>
        <%= link_to positives_path, class: "tab-underlined" do%>
          <%= image_tag 'love_email.png', class: "inbox-icon" %> (<%= @positive_messages.count %>)
        <% end %>
      </li>
      <li>
        <%= link_to negatives_path, class: "tab-underlined active" do%>
          <%= image_tag 'alert_email.svg', class: "inbox-icon" %> (<%= @negative_messages.count %>)
        <% end %>
      </li>
    </ul>
  </div>
  <div class="inbox">
    <% @messages.sample(10).each do |message| %>
      <%= render 'shared/message_card', message: message %>
    <% end %>
  </div>

</div>
